@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    color: #ffffff;
    background-color: #000000;
}

h1 {
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
    text-align: center;
}